/* Contact.scss */
#contact {
    background-color: #f0f0f0;
    padding: 2rem 1rem;
  
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  
  #contact {
    text-align: center;
    padding: 50px 20px;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 30px;
    }
  
    .social-icons {
      display: flex;
      justify-content: center;
      gap: 20px;
  
      a {
        color: #333;
        font-size: 2rem;
        transition: all 0.3s ease;
  
        &:hover {
          color: #ff6347;  // Cambia este color según el esquema de colores de tu portafolio
          transform: scale(1.2);
        }
  
        &.icon {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  